/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
main color: #087f5b
grey color: #343a40 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
  color: #343a40;
  line-height: 1;
  background-color: azure;
}

header {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.5),
      rgba(34, 34, 34, 0.5)
    ),
    url(hero.jpg);
    /* background-image: url(hero.jpg); */
  background-size: cover;
  position: relative;

  height: 100vh;
  background-color: #343a40;
  color: #fff;
}

nav {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #e67e22;
  padding: 24px 32px;
  border-radius: 10px;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.cta__container {
  width: 1000px;
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.cta__container--inner {
  width: 50%;
}

/* my alternative */
/* .cta__container {
  max-width: 1000px;
  margin: 0 auto;
}

.cta__container--inner {
  max-width: 680px;
  margin-top: 450px;
} */
