/*
--- 1 Typography System

- Font sizes(px)
  10 / 12 / 14 / 16 / 18 / 20 /24/
30/ 36/44 /52 / 62 / 74 / 86 / 98

--Font Weights
Default: 400
medium: 500
semi-bold: 600
bold: 700

--Line Heights
Default: 1
1.1
1.2
paragraph default: 1.6
1.8

--Letter Spacing
-0.5px
0.8px

---- 2 Colors

- Primary color:
#e67e22

- Tints:
#fdf2e9 90%
fae5d3 80%
f8d8bd 70%
f3bf91 50%
f0b27a 40%

- Shades:
cf711f 10% /

- Accents:

- Greys:
 #555
 #333
#888
#6e6e6e (lightest grey allowed on #fdf2e9 90%)

---- 5 SHADOWS

---- 6 BORDER_RADIUS
Default: 8px
12px


---- 7 WHITESPACE

- Spacing System
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 /
  64 / 80 / 96 / 128

*/

html,
body {
  /* background-color: lightgoldenrodyellow; */

  /* Default font-size: 16px;  10px/16px=0.625 == 62.5%*/
  font-size: 62.5%;
  line-height: 1;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #555;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}

strong {
  font-weight: 500;
}

/* Reusable components ------------------------ */
.container {
  max-width: 120rem;
  margin-inline: auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 4.8rem;
  align-items: center;
}

.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
  align-items: unset;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #cf711f;
  margin-bottom: 1.6rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-decoration: none;
  margin: 0.8rem;
  border-radius: 8px;

  transition: all 0.2s;
  /* put transition on original state */
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  color: #333;
  /* border: 2px solid #333; */
  /* trick to replicate the border without an issue */
  box-shadow: inset 0 0 0 4px #fff;
}

.link:link,
.link:visited {
  display: inline-block;
  padding-bottom: 2px;

  font-weight: 500;
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  transition: all 0.2s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/* Helper / Settings classes----------------- */
.margin-bottom-md {
  margin-bottom: 4.8rem;
}

.text-align {
  text-align: center;
}
